:root {
  --bg-color: #131313;
  --white: rgba(255, 255, 255, 1);
  --light-white: rgba(255, 255, 255, 0.7);
  --primar-color: rgba(4, 217, 255, 1);
  --footer-border: rgba(136, 143, 139, 0.4);
}

body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  color: var(--light-white);
  scroll-behavior: smooth;
}
a {
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
}

/* Basic button styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--width, 215px);
  height: 56px;
  font-size: 20px;
  color: var(--text-color, white);
  background-color: var(--btn-bg-color, transparent);
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  border-radius: 0px;
}

/* Square inside the button */
.btn .square {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: var(--primar-color);
  position: relative;
  transition: all 0.3s ease;
  transform-origin: center;
  transform: rotate(0deg);
}
.btn .text {
  width: 35px;
  display: flex;
  align-items: center;
}
.btn .square::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn:hover .square {
  width: 20px;
  height: 20px;
  background-image: url("../images/arrow-right.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}
.btn:hover {
  color: var(--text-color, white);
  background-color: var(--btn-bg-color, transparent);
  border: 1px solid var(--white);
}
.btn:hover .square::after {
  opacity: 1;
}

.banner {
  padding: 4rem 0;
  justify-content: space-between;
}

.banner-text {
  max-width: 800px;
  white-space: pre-wrap;
}
.sub-text {
  color: var(--primar-color);
  font-family: Outfit;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 800px;
}
.main-heading {
  color: var(--white);
  font-family: Outfit;
  font-size: 85px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.4%; /* 93.84px */
  max-width: 800px;
}
.text {
  color: var(--light-white);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.stats {
  border-top: 1px solid var(--footer-border) !important;
  border-bottom: 1px solid var(--footer-border) !important;
  padding: 25px 0;
}
.stats-heading {
  color: var(--primar-color);
  text-align: center;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.4%; /* 82.8px */
}
.stats-text {
  color: var(--light-white);
  text-align: center;
  font-family: Outfit;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.sub-heading {
  color: var(--white);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.4%; /* 49.68px */
}

.logo-carousel {
  width: 100%;
  overflow: hidden;
}
.logos .logo-placeholder {
  margin-right: 40px;
}
.logos {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.logo-placeholder img {
  width: 140px;
  height: 80px;
  object-fit: contain;
  filter: brightness(0) invert(1); /* Makes the image appear white */
}
.primary-color {
  color: var(--primar-color);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.what-we-do-text {
  min-height: 130px;
}

.work {
  border: 1px solid #888f8b;
  padding: 30px;
}
.work:hover {
  border: 1px solid var(--primar-color);
}

.square {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: var(--primar-color);
  margin-right: 20px;
}
.fw-500 {
  font-weight: 500;
}
h3 {
  color: var(--white);
  font-family: Outfit;
  font-size: var(--size, 40px);
  font-style: normal;
  font-weight: 600;
  line-height: 110.4%; /* 44.16px */
}
.pt-6 {
  padding-top: 6rem;
}
.slick-dots li.slick-active button:before {
  color: #b1f3ff !important; /* Color of active dot */
}
.slick-dots li button:before {
  color: #d9f9ff !important;
}
.work-section {
  border: 1px solid #888f8b;
  cursor: pointer;
}
.work-section:hover {
  border: 1px solid var(--primar-color);
}
.work-image {
  height: 360px;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 20px;
}
.slick-slide {
  padding: 0 10px !important; /* Adds 10px gap (adjust as needed) */
}
.work-details {
  padding: 20px;
  padding-bottom: 0px !important;
}
.work-details h3,
.work-details p {
  min-height: 100px;
}
.tag {
  background: #fcfcfc;
  color: #131313;
  font-size: 16px;
  font-weight: normal;
  display: inline-flex;
  padding: 8px 12px;
  position: relative;
  bottom: 55px;
  left: 15px;
  z-index: 2;
}
.work-large,
.slider-container {
  display: block;
  width: 100%;
  padding: 0 10px;
}
.work-mobile {
  display: none;
}
.video {
  /* background: linear-gradient(
		0deg,
		rgba(1, 152, 215, 0.1) 0%,
		rgba(1, 152, 215, 0.1) 100%
	); */
  mix-blend-mode: lighten;
}
.videos {
  mix-blend-mode: lighten;
}
.videos-banner {
  mix-blend-mode: lighten;
  display: block;
}

@media (min-width: 1440px) {
  .main-heading {
    font-size: 65px;
  }
  .work h3 {
    font-size: 32px;
  }
  .text {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .main-heading {
    font-size: 65px;
  }
  .work h3 {
    font-size: 32px;
  }
  .text {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .btn {
    min-width: 115px;
    font-size: 11px;
    height: 33px;
  }
  .btn .text {
    width: 24px;
  }
}
@media (max-width: 1024px) {
  .videos-banner {
    margin: 0 auto !important;
    width: 80% !important;
  }
}
@media (min-width: 1720px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1660px !important;
  }
}
@media (max-width: 768px) {
  .pt-6 {
    padding-top: 3rem;
  }
  .main-heading {
    font-size: 32px;
  }
  .text,
  .sub-text {
    font-size: 16px;
  }
  .stats-heading {
    font-size: 40px;
  }
  .stats-text {
    font-size: 14px;
  }
  .sub-heading {
    font-size: 24px;
  }
  .work {
    padding: 25px 10px;
  }
  .work h3 {
    font-size: 24px;
  }
  .work video {
    width: 190px;
    margin: 0 auto;
    display: flex;
  }
  .banner {
    padding: 2rem 0;
  }
  .whoweare-video {
    display: none;
  }
}
