.logo-carousel {
  overflow: hidden;
  width: 100%;
}

.logos {
  display: flex;
}

.logo-placeholder {
  flex: 0 0 auto;
}

.logo-placeholder img {
  height: 1.5rem;
  object-fit: contain;
  filter: brightness(0) invert(1); /* Makes the image appear white */
}
@media (min-width: 1000px) {
  .logo-placeholder img {
    height: 2rem;
  }
}
